* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
body{
  height: 100vh;
  background-color: black;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-position: center;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{
  color: orange;
}

header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 3rem;
}

.navbar .toggle_btn{
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn:active{
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/* HERO */

section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* RESPONSIVE DESGNER */

@media (max-width: 992px){
  .navbar .links, 
  .navbar .action_btn{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  } 

  .dropdown_menu{
    display: block;
  }
}

@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}

  



/*   
  .header {
    background: #a5c;
    padding-inline: 16px;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 10px;
    size: 10px;
    
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  
  .hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("../img/background.jpg");
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #a5c;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
/*   
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  } */ */













/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Raleway', sans-serif;
}

.sidebar a{
    display: block;
    height: 65px;
    width:  100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

a.active,a:hover{
    border-left: 5px solid #593632;
    color: #b93632;
}

.sidebar a i{
    font-size: 32px;
    margin-right: 16px;
}

.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 28px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 860px){
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,#btn,#cancel{
        display: none;
    }

    span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a{
        height: 60px;
    }

    .sidebar a i{
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span{
        opacity: 1;
        visibility: visible;
    }
} */